    :root{
	--background--color: #00030C;
	--mainColor--description: #C0C0C0;
	--main--white: #FFFFFF;	
}

body{
	width: auto;
	margin: 0 auto;
	background: linear-gradient(180deg,rgb(0, 147, 233, 0.5)30%, rgb(128, 208, 199, 0.3), #fcfcfc );
	font-family: 'Merriweather', serif;
}

header{
	height: 200px;
	background: linear-gradient(180deg,rgb(0, 147, 233, 0.5) );
}

header h1{
	font-size: 50px;
	color:black;
	text-align: center;	
	height: 50px;
	padding-top: 5px;
	padding-bottom: 1rem;
	font-weight: 700;
	background: white;		
}

/* Flex grid para o logo*/

.header__logo{
	display: grid;
	grid-template-columns: 12vw auto;
}

nav{
	display: flex;
	justify-content: flex-end;
}


nav a{
	text-transform: uppercase;
	font-weight: bold ;
	font-size: 20px;
	color: black;
	text-decoration: none;
}

nav a:hover{
	color:darkblue;
	font-size:25px;
	cursor: pointer;

}

nav a:active{
	color: red;
}


.first_button{
	width:12vw;
	background-color:lightblue;
	border: 3px solid var(--background--color);
	border-radius:7px;
	padding: 5px 0;
	margin-top: 3rem;
	margin-right: 5rem;
}

/* CSS form*/

main{
	width: 1200px;
	margin: 0 auto;	
}

form{
	margin-left: 320px;
}


input{
	display: block;
	margin: 0 0 20px;
	padding: 10px 20px;
	width: 50%;
}

form label, form legend{
	display: block;
	font-size: 20px;
	margin: 0 0 10px;
}

textarea{
	margin-bottom: 20px;
}

#radio-email, #radio-telefone, #radio-WhatsApp{
	display: inline-block;
	width: 3%;
	margin-right: 30px;	
}

select{
	margin-bottom: 20px;
}

.checkbox{
	display: inline-block;
	width: 3%;
	margin-right: 30px;
}

.form__submit{
	font-size: 20px;
	font-weight: bold;
	text-align: center;
	background-color: orange;
	border: none;
	margin-left: 60px;
	border-radius: 10px;
	
}

.form__submit:hover{
	transform: scale(1.1);
	background-color: darkorange;
	color: darkblue	;
	cursor: pointer;
	transition: 1500ms;
}

table, thead, table td{
	text-align: center;
	border: #00030C solid 3px;
	padding: 5px;
}

thead{
	background-color: aquamarine;
	font-size: 20px;
	font-weight: bold;
}




/*CSS footer*/

footer{
	text-align: center;
	margin:0, auto;
	background-color: #fcfcfc;
	height:230px;
}

#logo_img{
	margin-top: 30px;

}

.copyright{
	font-size: 15px;
	font-weight: bold;
	padding-bottom: 1rem;
	margin-top: 1rem;
}

@media screen and (max-width:768px ){

	.header__logo{
		display: grid;
		grid-template-columns: auto auto;	
	}

	header h1{

		font-size: 25px;
		width: 40vw;
		height: 56px;
		display: flex;
		justify-content: center;
		align-items: center;	
		}

		.img__header{
			width: 60vw;
		}

	.first_button{
		width:120px;
		margin-top: 3rem;
		margin-right: 2rem;
	}

	main{
		width: 100vw;
	}

	form{
		width: 92vw;
		margin: 8rem auto;
	}

	.input__form{
		width: 80vw;
	}

	.mensage{
		width: 90vw;
	}

	.legend_fieldset, .label_checkbox{
		width: 90vw;
		margin-bottom: 1rem;
		display: flex;
		flex-wrap: wrap;
	}

	.form__submit{
		width: 260px;
		margin-left: 0;
	}

	table{
		width: 80vw;
		margin-top: 5rem;
		margin-left: 2.2rem;
	}

	footer{
		width: 100vw;
		margin: 8rem auto;
	}

}
